<link type="text/css" href="../static/css/404.css" rel="stylesheet" />
<script src="../static/js/404.js"></script>
{% extends "base.html" %}
{% block content %}
{{ super() }}
<body>
    <div class="container">
        <h1>404</h1>
        <p>Oops! The page you're looking for can't be found.</p>
        <p>It looks like the page you're trying to reach doesn't exist. How about a slice of pizza instead?</p>
        <a href="/" id="homeButton">Back to Home</a>
        <a href="/menu" id="menuButton">View Our Menu</a>
    </div>

</body>
{% endblock %}