<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="../static/img/icon-pizza.png" type="image/png">
{% block title -%}
{% if title %}
	<title>{{title}}</title>
{% else %}
	<title>Pizza Orderman</title>
{% endif %}
{% endblock %}
</head>
<body>
{% block content -%}
	{%- block mainmenu -%}
    <div class="navbar">
        {% for item in menu %}
        <a href="{{ url_for(item.endpoint) }}">{{ item.title }}</a>
        {% endfor %}
    </div>

	{% endblock mainmenu -%}
{% endblock -%}
</div>
</body>
</html>