<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Головна</a>
        <a href="/menu">Меню</a>
    </div>
    
    <div class="content">
        <!--<img src="../static/img/homePage_pizza.png" alt="Pizza">-->
        <div class="text">
            <p>Піцерія Orderman у Києві вирізняється своєю неперевершеною якістю, неповторним смаком та атмосферою, яка завжди наповнена гастрономічними враженнями. Це місце, де кожен відвідувач може насолодитися справжньою симфонією смаків, створених нашими досвідченими піцамейкерами.</p>
            <a href="/menu" class="menu-button">Переглянути меню</a>
        </div>
    </div>
</body>
</html>
