<link type="text/css" href="../static/css/index.css" rel="stylesheet" />
<script src="../static/js/index.js"></script>

{% extends 'base.html' %}
{% block content %}
{{ super() }}

{% from 'macros.html' import styles, toggle_button %}

<h2>&nbsp;&nbsp;&nbsp;&nbsp;Offers' Line: </h2>
<ul class="list-posts">
{% for item in food %}

    <div class="food-container">
        {% if item.type == "Pizza" %}
            <img src="../static/img/pizza_offer.png" alt="Pizza Image">
        {% elif item.type == "Beverages" %}
            <img src="../static/img/drinks_offer.png" alt="Pizza Image">
        {% elif item.type == "Wings" %}
            <img src="../static/img/wings_offer.jpg" alt="Pizza Image">
        {% else %}
            <img src="../static/img/potato_offer.png" alt="Pizza Image">
        {% endif %}
        <div class="food-details">
            <p class="title"><a href="{{ url_for('showFood', alias=item.id)}}">{{ item.title }}></a></p>
            <p class="annonce">{{ item.description[:50] | striptags }}...</p>
        </div>
        <p class="price">{{ item.price }}₴</p>
    </div>
{% endfor %}
</ul>
{% endblock %}
