{% extends 'base.html' %}
{% block content %}
{{ super() }}

{% from 'macros.html' import styles, toggle_button %}

<h2 class="item-heading">{{ item.name }}: </h2>
<div class="item-container">
    <img src="../static/img/profile.png" alt="Pizza Image" class="item-image">

    <div class="item-details">
        <div class="item-title-section">
            <p class="item-title">Number: {{ item.phone }}</p>
        </div>
        <p class="item-balance">Balance: {{ item.balance }}₴</p>
        <p class="item-balance">Total price: {{ fullprice }}₴</p>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="item-buttons">
            <form action="{{ url_for('pay')}}" method="get">
                <button class="btn btn-order-all" type="submit">Order All</button>
            </form>
            <form action="{{ url_for('payment') }}" method="get">
                <button class="btn btn-payment">Payment</button>
            </form>
            <form action="{{ url_for('useGift')}}" method="get">
                <button class="btn btn-gift">Gift</button>
            </form>
            <form action="{{ url_for('logout')}}" method="get">
                <button class="btn btn-logout">Logout</button>
            </form>
        </div>
    </div>
</div>

<h2 class="item-heading">Yours' orders: </h2>
{% set my_variable = 0 %}
{% for item in orders %}

    <div class="food-container">
        {% if item.type == "Pizza" %}
            <img src="../static/img/pizza_offer.png" alt="Pizza Image">
        {% elif item.type == "Beverages" %}
            <img src="../static/img/drinks_offer.png" alt="Pizza Image">
        {% elif item.type == "Wings" %}
            <img src="../static/img/wings_offer.jpg" alt="Pizza Image">
        {% else %}
            <img src="../static/img/potato_offer.png" alt="Pizza Image">
        {% endif %}
        <div class="food-details">
            <p class="title"><a href="{{ url_for('showFood', alias=item.id)}}">{{ item.title }}></a></p>
            <p class="annonce">{{ item.description[:50] | striptags }}...</p>
        </div>
        <div class="delete-button">
            <form action="{{ url_for('deleteFood', alias=item.id) }}" method="GET">
                <button type="submit" style="border: none; background: none;">
                    <img src="{{ url_for('static', filename='img/delete_button.png') }}" alt="Delete">
                </button>
            </form>
        </div>
        <p class="price">{{ item.price }}₴</p>
    </div>
    
{% endfor %}

{% endblock %}
